img{
	width: 5%;
	margin-left: 60px;
}

#top{
	background-color: #271549;
	padding: 15px;
}

.header{
	text-align: center;
}

.h1{
	color: white;
	font-style: italic;
	font-family: fantasy;
	letter-spacing: 5px;
	margin-right: 100px;
}

.BarreDeLien{
	background-color: grey;
	padding: 10px;
}

.spacing{
	padding-left: 300px;
	padding-right: 300px;
}